<mat-toolbar>

        <mat-icon (click)="onback()">keyboard_backspace</mat-icon>

    <span class="example-spacer"></span>
    <h1>Flight Search Result</h1>
    <span class="example-spacer"></span>

        <mat-icon>settings_backup_restore</mat-icon>


</mat-toolbar>
<br>
Sort by: <mat-form-field appearance="fill">
    <mat-label>Travellers</mat-label>
    <mat-select>
      <mat-option value="Select" >Select</mat-option>
     
    </mat-select>
  </mat-form-field>

  <div id="result" >
    <mat-card>
        <mat-icon> flight</mat-icon> 14:35 <br>BLR
    </mat-card>

  </div>