<br>
<span>Lopking For Travrel Services?</span>

<div id="wrap">
    <mat-card>
        <mat-icon >fastfood</mat-icon>
        <mat-card-content>Hotels</mat-card-content>
    </mat-card>
    <mat-card (click)="onFlight()">
        <mat-icon>flight_takeoff</mat-icon>
        <mat-card-content>Flights</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon >local_taxi</mat-icon>
        <mat-card-content>Transfer</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon >photo_camera</mat-icon>
        <mat-card-content>Activities</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon >directions_bus</mat-icon>
        <mat-card-content>Car Rental</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon > library_books</mat-icon>
        <mat-card-content>Destination Guide</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon >markunread_mailbox</mat-icon>
        <mat-card-content>Cruises</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon >filter_none</mat-icon>
        <mat-card-content>Packages</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-icon >track_changes</mat-icon>
        <mat-card-content>Visa</mat-card-content>
    </mat-card>
</div>