.example-spacer {
    flex: 1 1 auto;
  }
  mat-form-field{
    width: 88%;
    float: right;
  }
  
.example-section {
padding: 10px;
  }

  #footer{
    width:100% ;
    display: flex;
    justify-content: center;
  }
  #footer button{
    width:95%;
  }